*{
    font-family: 'Arima', cursive;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'Roboto', sans-serif;
        /* font-family: 'Rubik Moonrocks', cursive; */
}

/* ========================================================================================================
    Header Section Style
-------------------------------------------------------------------------------------------------------- */

.opacity-ctl{
    filter: grayscale(30%);
}
.head-title{
    font-size: 60px;
}
@media only screen and (max-width: 600px) {
    .head-title {
            font-size: 30px;
    }
    .img-style{
        width: 100%;
    }
}
/* ========================================================================================================
    Main Section - Part One Style
-------------------------------------------------------------------------------------------------------- */

/* ========================================================================================================
    Part Two Style
-------------------------------------------------------------------------------------------------------- */

/* ========================================================================================================
    Part Three Style
-------------------------------------------------------------------------------------------------------- */
/* ========================================================================================================
    Footer Section Style
-------------------------------------------------------------------------------------------------------- */
.text-style{
    font-family: 'Open Sans', sans-serif;
}